/* Estilo para el encabezado */
.header {
  position: fixed; /* Fija el encabezado en la parte superior */
  top: 0;
  left: 0; /* Asegura que el encabezado comience desde el borde izquierdo */
  width: 100%; /* Hace que el encabezado abarque todo el ancho */
  z-index: 1000; /* Mantiene el encabezado sobre otros elementos */
  background-color: #4CAF50;
  padding: 20px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor para el contenido debajo del encabezado */
.proyect-list-container {
  margin-top: 80px; /* Ajusta este valor según la altura del encabezado */
}

/* Estilo para los enlaces del encabezado */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Estilo específico para el logo "Crowdfunding" */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: black; /* Color para el logo */
}

/* Cambia el color de fondo al pasar el mouse por encima, excluyendo el logo */
.header a:not(.logo):hover {
  background-color: #8FB8DE;
  color: black;
}

/* Estilo para el enlace activo */
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Contenedor de los enlaces alineados a la derecha */
.header-right {
  display: flex;
  gap: 15px; /* Añade espacio entre los enlaces */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 500px) {
  .header {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start;
  }
  .header a {
    display: block;
    text-align: left;
    width: 100%; /* Asegura que los enlaces ocupen todo el ancho */
  }
}
