.donation-list-container {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .donation-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  