.form-mentorship {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 70%;
  border-radius: 8px;   
}

.request-mentorship {
    width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 70%;
}   

.mentorship-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #DDFF94, #283e51); /* Degradado de fondo */
    padding: 20px; /* Espacio alrededor para que los contenedores no toquen el borde */
    margin-top: 80px;
}

.mentorship-screen button{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    background-color: #7fff6e;
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
}

.mentorship-screen button:hover {
    background-color: #8FB8DE;
}

.mentorship-screen p{
    font-size: 18px;
}

.mentorship-screen h1{
    top:0;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
}

.user-list-container{
    width: 100%;
    padding: 0;
}

.form-mentorship, .request-mentorship {
    width: 45%; /* Ajusta el ancho para que ambos contenedores se vean bien juntos */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    border-radius: 12px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco dentro del contenedor para contraste */
    max-height: 80%; /* Limita la altura para que el texto esté contenido */
  }
  
  .form-mentorship h1, .request-mentorship h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-mentorship p, .request-mentorship p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
.close {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    font-size: large;
}

.send-button{
    display: flex;
    justify-content: center;
    width:100%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    background-color: #7fff6e;
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 100px;
}