.proyect-item {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 200px;
    transition: box-shadow 0.3s ease;
  }
  
  .proyect-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .proyect-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .proyect-item p {
    font-size: 14px;
    color: #666;
  }
  
  .proyect-price {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  .proyect-item img {
    width: 100%;
    border-radius: 8px;
  }

  .proyect-item .end-date {
    position: absolute;
    bottom: 0; /* Ensures it stays at the bottom */
    margin-bottom: 4px; /* Ensures consistent distance */
    font-weight: bold;
  }

  .proyect-item button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .namePencil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .namePencil h3{
    margin-right: 10px;
  }
