.user-list-container {
    padding: 20px;
    background-color: #f4f4f4;
    width: 50%;
    height: 500px;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  