.adminScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 400px;
}

.user-donations-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Añade espacio entre cada contenedor */
    padding: 20px;
    justify-content: space-between; /* Asegura que los contenedores estén separados */
}

.donations-container, .user-container, .proyecto-container{
    padding-left: 70px;
    padding-right: 70px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Define el ancho de cada columna para que se distribuyan bien */
    margin-top: 0px;
    margin-bottom: 500px;
  }

.proyect-container{
    position: relative;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: blueviolet;
}
.donation-container{
    width: 50%;
}

.proyect-container{
    width: 100%;
}