/* Contenedor principal para alinear los tres bloques en una fila */
.user-profile-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 40px;
  padding-top: 20px;
  justify-content: space-between;
}

/* Estilo de cada contenedor individual */
.user-profile, .my-projects-container, .donations-containe {
  padding: 20px;
  margin-top: 70px;
  background-color: #ffffff;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-height: 70vh;
  box-sizing: border-box;
}

/* Contenedor de la lista de proyectos para agregar scroll interno */
.my-projects-container {
  display: flex;
  flex-direction: column;
}

.my-projects-container .my-project-list {
  max-height: 60vh; /* Limita la altura de la lista de proyectos */
  overflow-y: auto; /* Activa el scroll vertical para los proyectos */
  padding-right: 10px; /* Añade espacio para evitar que el scroll tape el contenido */
  box-sizing: border-box;
  align-items: center;
}

/* Título de cada sección */
.user-profile h2, .my-projects-container h2, .donations-containe h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}
